.objet{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.carre1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.carre2 {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.rectangle {
    width: 200px;
    height: 100px;
    background-color: green;
}
.objet1{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.objet2{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
.objet3{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
}